<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
    <%= @sailboat.user.name %> is interested in your boat. Get back to them now before they leave.
    <%= yield %>
  </body>
</html>
